body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container {
  width: 800px; 
  @media (max-width: 600px) {
    width: 90%; 
  }
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  color: #000;
}

.header a {
  text-decoration: none;
  font-size: 2em;
  color: #007bff;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white; 
  color: black; 
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
}

.contacts-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: black; 
}

.contacts-list li:hover {
  background-color: #f1f1f1;
}

.contacts-list a {
  text-decoration: none;
  color: black; 
  display: block;
}

.contacts-list a:hover {
  color: black; 
}

/* contact details, add new and edit*/
.contact-details-container,
.edit-contact-container,
.add-contact-container {
  width: 800px; 
  @media (max-width: 600px) {
    width: 90%; 
  }
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black; 
}

.contact-header,
.edit-header,
.add-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.contact-header h1,
.edit-header h1,
.add-header h1 {
  margin: 0;
  font-size: 2em;
}

.contact-header a,
.edit-header a,
.add-header a {
  text-decoration: none;
  font-size: 1em;
  color: #007bff;
}

.edit-contact-form,
.add-contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.edit-contact-form label,
.add-contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-contact-form input,
.add-contact-form input {
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white; 
  color: black; 
}

.edit-contact-form .form-row,
.add-contact-form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.edit-contact-form .form-row input,
.add-contact-form .form-row input {
  width: calc(50% - 10px); 
}

.edit-contact-form .update-button,
.edit-contact-form .cancel-button,
.add-contact-form .add-button,
.add-contact-form .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-align: center;
}

.edit-contact-form .update-button,
.add-contact-form .add-button {
  background-color: #007bff;
}

.edit-contact-form .cancel-button,
.add-contact-form .cancel-button {
  background-color: gray;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center; 
}